* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  width: 500px;
  margin: 10px auto;
  overflow: hidden;
  color: #d2d2d2;
}
.todo {
  padding: 5px 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background: #0c1224;
  border-radius: 0;
  height: 4rem;
}

.todo button {
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="text"] {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  font-size: 0.9rem;
  background: #0c1224;
  border: 0.5px solid #1c2233;
  border-radius: 0;
  height: 3rem;
}
input[type="text"]::placeholder {
  padding: 0 20px;
  font-size: 0.9rem;
}
input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  width: 100%;
  background: rgb(19, 40, 230);
  color: #fff;
  padding: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  height: 4rem;
  border-radius: 2px;
}
input[type="submit"]:hover {
  color: #fff;
}
